a
  cursor pointer

.alert
  ul
    margin-bottom 0

.main-description
  font-size 1.2em
  line-height 1.5em
  mb 30px

.larger
  font-size 1.2em
  mb 1.1em

.smaller
  font-size .8em

h1
  color #999
  font-size 1.5em

h5
  color #666
  font-size 18px

hr.dark
  border-top-color #EEE
  border-bottom-color #CCC

.fit3wells
  .span4
    width 250px

.btn-circle
  border-radius 6px
  padding 0
  height 12px
  width 12px

.helper-tooltip
  display inline-block
  background-color #00a587
  border-radius 12px
  height 24px
  width 25px
  margin 0 10px

  i
    margin 4px 0 0 5px

.navbar-static-top
  margin-right 0
  margin-left 0

body
  padding 0
  mb 25px

  &.super-admin
    .no-super-admin
      display none !important

    .super-admin-only
      display inherit !important

.sneaky
  display none

.red
  color red

.green
  color green

.pagination-wrapper
  text-align center

.readable-width
  width 550px

.centered
  text-align center

.wysiwyg-wrapper
  background #ccc
  border-radius(5px 5px 0 0)

  .wysihtml5-toolbar
    li
      margin 5px

  iframe
    padding-bottom 0 !important
    margin-bottom 0 !important

.super-admin-only
  display none

.timeline-datepicker
  cursor pointer