a
  cursor pointer

.alert
  ul
    margin-bottom 0

.main-description
  font-size 1.2em
  line-height 1.5em
  mb 30px

.larger
  font-size 1.2em
  mb 1.1em

.smaller
  font-size .8em

h1
  color #999
  font-size 1.5em

hr.dark
  border-top-color #EEE
  border-bottom-color #CCC

.fit3wells
  .span4
    width 250px

.btn-circle
  border-radius 6px
  padding 0
  height 12px
  width 12px

body
  pt 0
  mb 25px

.sneaky
  display none

.red
  color red

.green
  color green

.pagination-wrapper
  text-align center
