- Section::inject('page_title', 'New Officer')

.subheader

.container.inner-container

	form#new-officer-form(action="#{route('officers')}", method="post")

	  <?php $user = Input::get('user'); ?>
	  <?php $officer = Input::get('officer'); ?>

	  !{View::make('users.account_officer_fields')->with('officer', Input::old('officer'))->with('user', Input::old('user'))->with('signup', true)}

    .control-group
      label How did you hear about RFP-EZ?
      input.input-xxlarge(type="text", name="user[how_hear]", value="")

	  div
	    button.btn.btn-primary(type="submit") Submit
