- Section::inject('page_title', "$contract->title")
- Section::inject('page_action', "Review Bids")
- Section::inject('active_nav', 'account')
- Section::inject('active_subnav', 'review_bids')

- if ($contract->is_mine()):
  - Section::inject('subnav', View::make('partials.media.officer_contract_toolbar')->with('contract', $contract))
  !{View::make('bids.dismiss_modal')}
- endif;

h3 Bids awaiting review

table.table.bids-table.open-bids
  thead
    tr
      th.vendor-name Vendor Name
      th.price Price
      th.starred Starred
      th.actions Actions

  - foreach($open_bids as $bid):
    !{View::make('partials.media.bid_for_review')->with('bid', $bid)}

h3 Dismissed bids

table.table.bids-table.dismissed-bids
  thead
    tr
      th.vendor-name Vendor Name
      th.price Price
      th.starred Starred
      th.actions Actions

  - foreach($dismissed_bids as $bid):
    !{View::make('partials.media.bid_for_review')->with('bid', $bid)}
