- Section::inject('page_title', "Review Bids for $contract->title")
- Section::inject('active_nav', 'account')

!{View::make('bids.dismiss_modal')}

h3 Bids awaiting review

table.table.bids-table.open-bids
  thead
    tr
      th.vendor-name Vendor Name
      th.price Price
      th.starred Starred
      th.actions Actions

  - foreach($open_bids as $bid):
    !{View::make('partials.media.bid_for_review')->with('bid', $bid)}

h3 Dismissed bids

table.table.bids-table.dismissed-bids
  thead
    tr
      th.vendor-name Vendor Name
      th.price Price
      th.starred Starred
      th.actions Actions

  - foreach($dismissed_bids as $bid):
    !{View::make('partials.media.bid_for_review')->with('bid', $bid)}
