- Section::inject('page_title', $bid->project->title)
- Section::inject('page_action', 'Show Bid')
- Section::inject('active_nav', 'contracts')

- if ($bid->project->is_mine()):
  !{View::make('bids.partials.dismiss_modal')}
- endif;

.row
  .span6
    !{$project->body}

  .span5.offset1
    h1 My Bid
    !{View::make('bids.partials.bid_details')->with('bid', $bid)}