- Section::inject('page_title', 'Show Bid')
- Section::inject('no_page_header', true)

- if (Auth::user()->id == $bid->contract->officer->user->id):
  !{View::make('bids.dismiss_modal')}
  !{View::make('partials.media.officer_bid_toolbar')->with('bid', $bid)}
- endif;

!{View::make('partials.media.bid_details')->with('bid', $bid)}