ml(n)
  margin-left n
mr(n)
  margin-right n
mt(n)
  margin-top n
mb(n)
  margin-bottom n
pl(n)
  padding-left n
pr(n)
  padding-right n
pt(n)
  padding-top n
pb(n)
  padding-bottom n
fw(n)
  font-weight n
fs(n)
  font-size n
lh(n)
  line-height n
pos(n)
  position n
bgc(n)
  background-color n