footer.footer
  .container
    p
      | EasyBid is an official website of the United States Government, and was created by
      | <a href="http://wh.gov/innovationfellows/rfpez">Team Project RFP-EZ</a> as part of the
      | Presidential Innovation Fellowship program.

    ul
      li
        a(href="http://www.sba.gov/about-sba-info/privacy-policy") Privacy Policy
      li
        a(href="http://www.twitter.com/projectrfpez") @ProjectRFPEZ
      li
        a(href="http://presidential-innovation-fellows.github.com/rfpez-blog") Blog
