footer.footer
  .container
    p
      | EasyBid is an official website of the United States Government, and was created by
      | <a href="http://wh.gov/innovationfellows/rfpez">Team Project RFP-EZ</a> as part of the
      | Presidential Innovation Fellowship program.

    ul
      li
        a(href="#") Terms
      li
        a(href="#") Privacy Policy
      li
        a(href="#") @ProjectRFPEZ