footer.footer
  .container
    p.help !{__('r.partials.footer.help')}

    p !{__('r.partials.footer.text')}

    ul
      li
        a(href="/faq") FAQ
      li
        a.outbound(href="http://www.sba.gov/about-sba-info/privacy-policy") Privacy Policy
      li
        a.outbound(href="http://www.twitter.com/rfpez") @rfpez
      li
        a.outbound(href="http://presidential-innovation-fellows.github.io/rfpez-blog") Blog
      li
        a.outbound(href="https://github.com/presidential-innovation-fellows/rfpez") Fork this site on GitHub!
