.modal.hide#signinModal(tabindex="-1", role="dialog")
  .modal-header
    button.close(type='button', data-dismiss='modal') &times;
    h3 Login to RFP-EZ
  .modal-body
    form(action="#{route('signin')}", method="POST")

      input(type='hidden', name='modal', value='true')

      .control-group
        label.control-label Email
        .controls
          input#email.span3(type='email', name='email')

      .control-group
        label.control-label Password
        .controls
          input.span3(type='password', name='password')
          a.forgot(href="#{route('forgot_password')}") Forgot Password?

      .control-group
        .controls
          label.checkbox
            input(type='checkbox', checked, name='remember')
            | Remember Me?

      p
        button.btn.btn-primary(type='submit') Sign in
  .modal-footer
    | Are you new? Register as
    a(href='/vendors/new') a business
    | or
    a(href='/officers/new') a government officer
