.modal.hide#signinModal(tabindex="-1", role="dialog")
  .modal-header
    button.close(type='button', data-dismiss='modal') &times;
    h3 Login to EasyBid
  .modal-body
    form(action="#{route('signin')}", method="POST")
      input(type='hidden', name='modal', value='true')
      p
        input#email.span3(type='email', name='email', placeholder='Email')
      p
        input.span3(type='password', name='password', placeholder='Password')
      p
        button.btn.btn-primary(type='submit') Sign in
        a(href="#{route('forgot_password')}") Forgot Password?
  .modal-footer
    | Are you new?
    a.btn.btn-success(href='/') Register