- Section::inject('page_title', 'Notifications')

- if (count($notifications->results) > 0):
  table.notifications-table.table
    - foreach ($notifications->results as $notification):
      !{View::make('notifications.partials.notification')->with('notification', $notification)}

  .pagination-wrapper
    !{$notifications->links()}

- else:
  p #{__("r.notifications.index.no_notifications")}
- endif;

