- Section::inject('page_title', 'Notifications')
- Section::inject('active_nav', 'notifications')

- if ($notifications):
  ul.notification-list
    - foreach ($notifications as $notification):
      !{View::make('partials.media.notification')->with('notification', $notification)}
- else:
  p No notifications to show.
- endif;
