- Section::inject('page_title', 'Notifications')
- Section::inject('active_nav', 'notifications')

ul.notification-list
  - foreach ($notifications as $notification):
    !{View::make('partials.media.notification')->with('notification', $notification)}
