.new-bid-form
  .section
    padding 5px 0

  textarea
    width 100%
    min-height 100px

  .prices-table
    .deliverables-row
      input.deliverable-price
        width 60px

    tfoot
      .total-price-row
        th
          text-align right

.my-bid-table
  tr.bid
    &.bid-dismissed
      td.status
        color red

.new-bid-page
  .timeline-table
    width 100%