.contract-list
  list-style none
  font-size 1.4em
  li
    mb 1.3em

.show-my-contracts-btn
  fs .65em
  fw normal
  pl 12px

.contracts-table
  thead
    tr
      th.contract-title
        width 45%

      th.type
        width 30%

      th.agency
        width 25%

  tbody.contract
    border-top 1px solid #DDD

    .admin-star
      font-size 11px

      i
        line-height 12px
        margin-top -1px

  tr
    td
      border 0
