.project-list
  list-style none
  font-size 1.4em
  li
    mb 1.3em

.project-subnav
  mt 25px

.toggle-my-all-projects
  fs .65em
  fw normal
  pl 12px

.new-project-btn
  mr 25px

.my-project-table
  mt 25px

.projects-table
  mt 25px
  thead
    tr
      th.project-title
        width 45%

      th.type
        width 30%

      th.agency
        width 25%

  tbody.project
    border-top 1px solid #DDD

    .admin-star
      font-size 11px

      i
        line-height 12px
        margin-top -1px

  tr
    td
      border 0
