ul.templates-list
  margin 0
  border-top 1px dotted #ccc

  li.template
    list-style none
    border-bottom 1px dotted #ccc
    padding 15px 0

.sections-for-editing-wrapper
  position relative

.sections-for-editing
  cursor pointer

  .category

    &.ui-sortable-placeholder
      background-color #ccc
      visibility visible !important

    .category-sections
      .section
        &.ui-sortable-placeholder
          background-color #ccc
          visibility visible !important

        .edit-section-link
          display none

        &:hover
          .edit-section-link
            display inline

.sections-for-editing-cover
  background rgba(255, 255, 255, 0.6)
  z-index 2
  position absolute
  top 0
  left 0
  text-align center
  padding-top 100px
  font-size 16px
  font-weight bold

.timeline-table
  width 600px

  tbody
    tr
      .add-deliverable-button
        display none

  tfoot
    background #ddd

    tr
      .remove-deliverable-button
        display none
