ul.templates-list
  margin 0
  border-top 1px dotted #ccc

  li.template
    list-style none
    border-bottom 1px dotted #ccc
    padding 15px 0

.sections-for-editing
  .section
    .edit-section-link
      display none

    &:hover
      .edit-section-link
        display inline