.nav-right-text
  padding 10px 0 10px 0


.control-group.x-large
  span.add-on
    width 60px
    font-size 20px
    padding 15px 10px


  input[type=text]
    width 700px
    font-size 20px
    padding 15px 10px



textarea.composer
  font-size 1.2em
  font-family "Lucida Sans", sans-serif
  line-height 1.3em
  width 100%
  height 400px
  min-width 100%
  max-width 100%
  box-sizing border-box
  color #424242


.sow-sidebar
  width 200px
  margin 0 0 20px
  border-radius 6px
  pl 0

  li
    a
      display block
      margin 0 0 -1px
      padding 8px 14px
      border 1px solid #E5E5E5

      .icon-chevron-right
        opacity .5
        float right
        mt 2px
        mr -6px

    &.active
      .icon-chevron-right
        opacity 1

.step
  &.step-1
    width 700px
    margin 0 auto
    margin-top 40px

    h1
      font-size 48px
      line-height 48px


    h3
      font-size 24px
      line-height 30px
      font-weight normal


    form
      p
        margin 10px 0 20px




  &.step-2
    textarea
      margin-top 10px
      height 400px


    .examples
      display none
      margin-top 1em



  &.step-3, &.step-4
    .control-group
      margin 10px 0

      .controls
        margin-left 0



    label.checkbox
      width 300px
      float left


    .custom-choices
      list-style none
      margin-left 18px
      margin-top 5px

      .template
        display none


      li
        margin-bottom 10px
        position relative

        &before
          content '✓'
          position absolute
          left -15px
          top 0


        .choice-name
          width 300px
          float left




    .custom-choice-control-group
      margin-left 15px



  &.step-3

    .tbd
      display none


    .datepicker
      display none

      input
        width 100px



    .control-group.checked .datepicker,
    .control-group.checked .tbd,
    .custom-choices .datepicker,
    .custom-choices .tbd
      display inline


    .icon-calendar
      font-size 16px



  &.step-5
    .sow-content
      text-align justify
      font-size 14px
      line-height 20px

      p
        margin-bottom 15px

        input[type=text]
          padding 0
          width 100px
          margin 0 0 1px
          font-size 14px
          line-height 20px




    textarea.composer
      height 100px



  &.step-7
    .congrats
      width 500px
      margin 0 auto
      padding 20px

      .header
        font-weight bold
        font-size 24px
        line-height 32px


      p
        line-height 18px
        font-size 14px



    .sidebar
      textarea
        resize none



    .disclaimer
      font-size 11px
      margin-top 2em



  .step-title
    border-bottom 1px solid #eee
    padding-bottom 3px
    margin 10px 0 20px


  .bottom-controls
    padding 20px
    background-color #ddd
    margin 25px auto


  .sidebar
    .sidebar-section-title
      margin-bottom 7px

    i
      font-size 16px


    .btn
      margin-bottom 10px



  span.help-text
    color #AAA
    font-size .9em

