.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
label {
  display: block;
}
a {
  cursor: pointer;
}
body {
  padding-top: 75px;
}
body.no-auth .vendor-only,
body.no-auth .officer-only {
  display: none !important;
}
body.officer .vendor-only {
  display: none !important;
}
body.vendor .officer-only {
  display: none !important;
}
.question-wrapper {
  margin-bottom: 15px;
}
.question-wrapper .question {
  margin-bottom: 5px;
}
.question-wrapper .answer-question {
  padding: 0;
}
#answer-question-form {
  display: none;
}
