//// NIB GOODNESS ////
//// see http://visionmedia.github.com/nib/ for several other nice shortcuts ////
@import 'nib'

.clearfix
  clearfix()

//// CUSTOM SHORTHAND CONVENIENCE METHODS ////
ml(n)
  margin-left n
mr(n)
  margin-right n
mt(n)
  margin-top n
mb(n)
  margin-bottom n
pl(n)
  padding-left n
pr(n)
  padding-right n
pt(n)
  padding-top n
pb(n)
  padding-bottom n
fw(n)
  font-weight n
fs(n)
  font-size n
lh(n)
  line-height n
pos(n)
  position n
bgc(n)
  background-color n


//// MAIN STYLES ////

a
  cursor pointer

.alert
  ul
    margin-bottom 0

.main-description
  font-size 1.2em
  line-height 1.5em
  mb 30px

.larger
  font-size 1.2em
  mb 1.1em

.smaller
  font-size .8em

h1
  color #999
  font-size 1.5em
body
  pt 75px
  mb 25px

  &.no-auth
    .vendor-only, .officer-only
      display none !important

  &.officer
    .vendor-only
      display none !important

    .no-officer
      display none !important

    .no-auth-only
      display none !important

  &.vendor
    .officer-only
      display none !important

    .no-vendor
      display none !important

    .no-auth-only
      display none !important

.question-wrapper
  margin-bottom 15px
  .question
    padding-bottom 10px
    border-bottom 1px dotted #ccc
  .answer
    padding-top 10px

#answer-question-form
  display none

  textarea
    width 100%
    box-sizing border-box
    min-height 100px

.vendor-image-preview-frame
  overflow hidden
  text-align center
  width 400px
  height 300px
  border 1px solid #EEE
  padding 2px
  margin 5px 0 15px

  img
    z-index 2

.media

  &.vendor
    display inline-block
    margin 10px 10px 40px

    .company-name
      font-size 16px
      font-weight bold
      margin-bottom 10px

    .homepage-url
      float left

    .ballpark-price
      float right
      color #888

.vendors-wrapper
  .loading-spinner
    text-align center
    margin 0 0 35px
    display none

  .finished-loading-text
    text-align center
    margin 0 0 35px
    display none

  &.loading
    .loading-spinner
      display block

  &.finished-loading
    .finished-loading-text
      display block

.vendor-image-form-row
  margin-top 30px

.new-bid-form
  .section
    padding 5px 0

  textarea
    width 100%
    min-height 100px

  .prices-table
    .deliverables-row
      input.deliverable-price
        width 60px

.contract-list
  list-style none
  font-size 1.4em
  li
    mb 1.3em

#ask-question-form
  textarea
    width 100%
    min-height 100px
    box-sizing border-box

.contracts-table
  tr.no-border
    td
      border 0

#dismiss-modal
  textarea
    width 100%
    box-sizing border-box
    min-height 100px

.bids-table
  .bid
    .star-td
      .unstar-button
        display none

      &.starred
        .unstar-button
          display inline-block

        .star-button
          display none
