.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
a {
  cursor: pointer;
}
.alert ul {
  margin-bottom: 0;
}
.main-description {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.larger {
  font-size: 1.2em;
  margin-bottom: 1.1em;
}
.smaller {
  font-size: 0.8em;
}
h1 {
  color: #999;
  font-size: 1.5em;
}
body {
  padding-top: 75px;
  margin-bottom: 25px;
}
body.no-auth .vendor-only,
body.no-auth .officer-only {
  display: none !important;
}
body.officer .vendor-only {
  display: none !important;
}
body.officer .no-officer {
  display: none !important;
}
body.officer .no-auth-only {
  display: none !important;
}
body.vendor .officer-only {
  display: none !important;
}
body.vendor .no-vendor {
  display: none !important;
}
body.vendor .no-auth-only {
  display: none !important;
}
.question-wrapper {
  margin-bottom: 15px;
}
.question-wrapper .question {
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}
.question-wrapper .answer {
  padding-top: 10px;
}
#answer-question-form {
  display: none;
}
#answer-question-form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
}
.vendor-image-preview-frame {
  overflow: hidden;
  text-align: center;
  width: 400px;
  height: 300px;
  border: 1px solid #eee;
  padding: 2px;
  margin: 5px 0 15px;
}
.vendor-image-preview-frame img {
  z-index: 2;
}
.media.vendor {
  display: inline-block;
  margin: 10px 10px 40px;
}
.media.vendor .company-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.media.vendor .homepage-url {
  float: left;
}
.media.vendor .ballpark-price {
  float: right;
  color: #888;
}
.vendors-wrapper .loading-spinner {
  text-align: center;
  margin: 0 0 35px;
  display: none;
}
.vendors-wrapper .finished-loading-text {
  text-align: center;
  margin: 0 0 35px;
  display: none;
}
.vendors-wrapper.loading .loading-spinner {
  display: block;
}
.vendors-wrapper.finished-loading .finished-loading-text {
  display: block;
}
.vendor-image-form-row {
  margin-top: 30px;
}
.new-bid-form .section {
  padding: 5px 0;
}
.new-bid-form textarea {
  width: 100%;
  min-height: 100px;
}
.new-bid-form .prices-table .deliverables-row input.deliverable-price {
  width: 60px;
}
.contract-list {
  list-style: none;
  font-size: 1.4em;
}
.contract-list li {
  margin-bottom: 1.3em;
}
#ask-question-form textarea {
  width: 100%;
  min-height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contracts-table tr.no-border td {
  border: 0;
}
#dismiss-modal textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
}
.bids-table thead th.vendor-name {
  width: 50%;
}
.bids-table thead th.price {
  width: 10%;
}
.bids-table thead th.starred {
  width: 15%;
}
.bids-table thead th.actions {
  width: 25%;
}
.bids-table .bid .star-td .unstar-button {
  display: none;
}
.bids-table .bid .star-td.starred .unstar-button {
  display: inline-block;
}
.bids-table .bid .star-td.starred .star-button {
  display: none;
}
.dismissed-alert .dismissal-notice {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.dismissed-alert .dismissal-reason {
  padding-top: 10px;
}
.dismissed-alert .dismissal-explanation {
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}
.dismissed-alert .btn {
  margin-top: 10px;
}
