a {
  cursor: pointer;
}
.alert ul {
  margin-bottom: 0;
}
.main-description {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.larger {
  font-size: 1.2em;
  margin-bottom: 1.1em;
}
.smaller {
  font-size: 0.8em;
}
h1 {
  color: #999;
  font-size: 1.5em;
}
hr.dark {
  border-top-color: #eee;
  border-bottom-color: #ccc;
}
.fit3wells .span4 {
  width: 250px;
}
.btn-circle {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0;
  height: 12px;
  width: 12px;
}
body {
  padding-top: 0;
  margin-bottom: 25px;
}
.sneaky {
  display: none;
}
.red {
  color: #f00;
}
.green {
  color: #008000;
}
.pagination-wrapper {
  text-align: center;
}
.readable-width {
  width: 550px;
}
body.no-auth .vendor-only,
body.no-auth .officer-only {
  display: none !important;
}
body.officer .vendor-only {
  display: none !important;
}
body.officer .no-officer {
  display: none !important;
}
body.officer .no-auth-only {
  display: none !important;
}
body.vendor .officer-only {
  display: none !important;
}
body.vendor .no-vendor {
  display: none !important;
}
body.vendor .no-auth-only {
  display: none !important;
}
.navbar-static-top {
  margin-bottom: 20px;
}
.notification-nav-item {
  position: relative;
}
.notification-nav-item .unread-notification-badge {
  position: absolute;
  top: 7px;
  right: -10px;
}
.officer-toolbar {
  padding-top: 25px;
}
.sow-toolbar {
  padding-top: 20px;
}
.bids-table {
  width: 100%;
}
.bids-table td {
  vertical-align: middle;
}
.bids-table thead th.unread-and-star {
  width: 5%;
}
.bids-table thead th.vendor-name {
  width: 55%;
}
.bids-table thead th.price {
  width: 15%;
}
.bids-table thead th.actions {
  width: 25%;
}
.bids-table .bid.selected {
  background-color: #fff6db;
}
.bids-table .bid.unread .line1 {
  font-weight: bold;
}
.bids-table .bid.unread .mark-as-read {
  display: block;
}
.bids-table .bid.unread .mark-as-unread {
  display: none !important;
}
.bids-table .bid:hover .mark-as-unread {
  display: block;
}
.bids-table .bid .mark-as-read,
.bids-table .bid .mark-as-unread {
  margin: 2px auto 0;
  display: none;
}
.bids-table .bid .bid-notification-td {
  padding-left: 0;
  padding-right: 5px;
  width: 20px;
}
.bids-table .bid .bid-vendor-td a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
}
.bids-table .bid .star-td {
  padding-left: 0;
}
.bids-table .bid .star-td .btn i {
  margin-top: -1px;
}
.bids-table .bid .star-td .unstar-button {
  display: none;
}
.bids-table .bid .star-td.starred .unstar-button {
  display: inline-block;
}
.bids-table .bid .star-td.starred .star-button {
  display: none;
}
.bids-table .bid .bid-details {
  border: 0;
  padding: 0;
}
.bids-table .bid .bid-details div {
  margin-left: 4px;
}
.bids-table .bid .bid-details div .details-inner {
  margin-bottom: 10px;
}
.bids-table .bid .bid-details div .details-inner .col2 {
  margin-left: 50px;
}
.bids-table .bid .bid-details .example-work {
  padding-left: 20px;
}
#dismiss-modal textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
}
#award-modal {
  width: 600px;
}
#award-modal textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
}
#award-modal .modal-body label.bold-label {
  font-weight: bold;
}
.dismissed-alert .dismissal-notice {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.dismissed-alert .dismissal-reason {
  padding-top: 10px;
}
.vendor-image-preview-frame {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  width: 400px;
  height: 300px;
  line-height: 301px;
  border: 1px solid #eee;
  padding: 2px;
  margin: 5px 0 15px;
}
.vendor.media {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 40px;
  -webkit-box-shadow: 1px 2px 7px #aaa;
  box-shadow: 1px 2px 7px #aaa;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.vendor.media .company-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 250px;
}
.vendor.media .ballpark-price {
  color: #888;
}
.vendor.media .more-info {
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
}
.vendor-detail {
  padding-top: 40px;
}
.vendor-detail .company-name {
  color: #888;
  font-size: 24px;
  font-weight: bold;
}
.vendor-detail .ballpark-price {
  margin-bottom: 25px;
}
.vendor-detail .more-info {
  font-size: 1.2em;
  line-height: 1.4em;
}
.question-wrapper {
  margin-bottom: 15px;
}
.question-wrapper .question {
  padding-bottom: 10px;
}
.question-wrapper .answer {
  padding-top: 10px;
}
.question-wrapper .answerer {
  padding-top: 10px;
}
#answer-question-form {
  display: none;
}
#ask-question-form textarea,
#answer-question-form textarea {
  width: 100%;
  min-height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comments-list .comment .body .author {
  font-weight: bold;
}
.dsbs-certifications {
  min-height: 70px;
  width: 100%;
}
.dsbs-certifications tbody.loading,
.dsbs-certifications tbody.no-certs {
  display: none;
}
.dsbs-certifications.loading tbody.certs,
.dsbs-certifications.no-certs tbody.certs {
  display: none;
}
.dsbs-certifications.loading tbody.loading {
  display: block;
}
.dsbs-certifications.no-certs tbody.no-certs {
  display: block;
}
#notifications-dropdown {
  width: 300px;
  padding: 0;
}
#notifications-dropdown.loading {
  background: #fff url("/img/spinner.gif") no-repeat center;
  min-height: 50px;
}
#notifications-dropdown.none li.no-notifications {
  display: block;
}
#notifications-dropdown li.no-notifications {
  display: none;
  color: #444;
  padding: 20px;
}
#notifications-dropdown li a {
  padding-top: 7px;
  padding-bottom: 7px;
}
#notifications-dropdown li:first-child a {
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
#notifications-dropdown li:last-child a {
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
#notifications-dropdown li.unread .line1 {
  font-weight: bold;
}
#notifications-dropdown li a {
  white-space: normal;
}
#notifications-dropdown li a .timeago {
  color: #999;
  display: block;
}
#notifications-dropdown li.view-all {
  background-color: #ccc;
  text-align: center;
  font-size: 12px;
}
.vendors-wrapper .loading-spinner {
  text-align: center;
  margin: 0 0 35px;
  display: none;
}
.vendors-wrapper .finished-loading-text {
  text-align: center;
  margin: 0 0 35px;
  display: none;
}
.vendors-wrapper.loading .loading-spinner {
  display: block;
}
.vendors-wrapper.finished-loading .finished-loading-text {
  display: block;
}
.new-bid-form .section {
  padding: 5px 0;
}
.new-bid-form textarea {
  width: 100%;
  min-height: 100px;
}
.new-bid-form .prices-table .deliverables-row input.deliverable-price {
  width: 60px;
}
.new-bid-form .prices-table tfoot .total-price-row th {
  text-align: right;
}
.my-bid-table tr.bid.bid-dismissed td.status {
  color: #f00;
}
.notification-table {
  margin: 0;
}
.notification-item {
  list-style: none;
  padding: 10px 0 10px 30px;
  position: relative;
}
.notification-item .unread-td {
  width: 15px;
  text-align: center;
  vertical-align: middle;
}
.notification-item .line2 {
  font-size: 13px;
}
.notification-item .timestamp {
  font-weight: normal;
  font-size: 11px;
}
.notification-item .mark-as-read,
.notification-item .mark-as-unread {
  margin: 0 auto;
  display: none;
}
.notification-item.unread .line1 {
  font-weight: bold;
}
.notification-item.unread .mark-as-read {
  display: block;
}
.notification-item.unread .mark-as-unread {
  display: none !important;
}
.notification-item:hover .mark-as-unread {
  display: block;
}
h4 span.forked-from {
  font-size: 12px;
  color: #666;
}
.project-subnav {
  margin-top: 25px;
}
.toggle-my-all-projects {
  font-size: 0.65em;
  font-weight: normal;
  padding-left: 12px;
}
.new-project-btn {
  margin-right: 25px;
}
.my-project-table {
  margin-top: 25px;
}
.my-project-table thead tr th.type {
  width: 5%;
}
.my-project-table thead tr th.project-title {
  width: 49%;
}
.my-project-table thead tr th.status {
  width: 19%;
}
.my-project-table thead tr th.due {
  width: 18%;
}
.my-project-table thead tr th.actions {
  width: 9%;
}
.my-project-table img.my-project-icon {
  width: 24px;
  height: 24px;
}
.projects-table {
  margin-top: 25px;
}
.projects-table thead tr th.type {
  width: 8%;
}
.projects-table thead tr th.project-title {
  width: 55%;
}
.projects-table thead tr th.agency {
  width: 25%;
}
.projects-table thead tr th.due {
  width: 12%;
}
.projects-table tr td {
  border: 0;
}
tbody.project {
  border-top: 1px solid #ddd;
}
tbody.project .project-meta td {
  vertical-align: middle;
}
tbody.project .project-title {
  font-size: 1.1em;
  font-weight: bold;
}
tbody.project .project-description-truncated {
  width: 475px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
tbody.project .admin-star {
  font-size: 11px;
}
tbody.project .admin-star i {
  line-height: 12px;
  margin-top: -1px;
}
.background-form textarea {
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 280px;
}
.explain-duns-link {
  padding-left: 10px;
  font-size: 0.9em;
}
ul.templates-list {
  margin: 0;
  border-top: 1px dotted #ccc;
}
ul.templates-list li.template {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  padding: 15px 0;
}
.sections-for-editing .section .edit-section-link {
  display: none;
}
.sections-for-editing .section:hover .edit-section-link {
  display: inline;
}
