.bids-table
  width 100%

  thead
    th.unread-and-star
      width 5%
    th.vendor-name
      width 55%
    th.price
      width 15%
    th.actions
      width 25%

  .bid
    &.unread
      .line1
        font-weight bold

      .mark-as-read
        display block

      .mark-as-unread
        display none !important

    &:hover
      .mark-as-unread
        display block

    .mark-as-read, .mark-as-unread
      margin 2px auto 0
      display none

    .bid-notification-td
      padding-left 0
      padding-right 5px
      width 20px

    .star-td
      padding-left 0

      .btn
        i
          margin-top -1px

      .unstar-button
        display none

      &.starred
        .unstar-button
          display inline-block

        .star-button
          display none

    .bid-details
      border 0
      padding 0

      div
        margin-left 4px

        .details-inner
          margin-bottom 10px

      .example-work
        padding-left 20px

#dismiss-modal
  textarea
    width 100%
    box-sizing border-box
    min-height 100px

#award-modal
  width 600px

  textarea
    width 100%
    box-sizing border-box
    min-height 100px

  .modal-body
    label.bold-label
      font-weight bold


.dismissed-alert
  .dismissal-notice
    border-bottom 1px dotted #ccc
    padding-bottom 10px

  .dismissal-reason
    padding-top 10px
