.question-wrapper
  margin-bottom 15px
  .question
    padding-bottom 10px
  .answer
    padding-top 10px
  .answerer
    padding-top 10px

#answer-question-form
  display none

#ask-question-form textarea,
#answer-question-form textarea
  width 100%
  min-height 100px
  box-sizing border-box
