.media.vendor
  width 400px
  display inline-block
  vertical-align top
  margin 10px 10px 40px

  .company-name
    font-size 16px
    font-weight bold
    margin-bottom 10px

  .homepage-url
    float left

  .ballpark-price
    float right
    color #888

.vendor-image-preview-frame
  overflow hidden
  text-align center
  width 400px
  height 300px
  border 1px solid #EEE
  padding 2px
  margin 5px 0 15px

  img
    width 400px
    height 300px
