h4
  span.forked-from
    font-size 12px
    color #666

.project-subnav
  mt 25px

.toggle-my-all-projects
  fs .65em
  fw normal
  pl 12px

.new-project-btn
  mr 25px

.my-project-table
  mt 25px
  thead
    tr
      th.type
        width 5%
      th.project-title
        width 49%
      th.status
        width 19%
      th.due
        width 18%
      th.actions
        width 9%

  img.my-project-icon
    width 24px
    height 24px

.projects-table
  mt 25px

  tr
    th.due
      min-width 100px

  tr
    td
      border 0

tbody.project
  border-top 1px solid #DDD

  .project-meta
    td
      vertical-align middle

  .project-title
    fs 1.1em
    fw bold

  .admin-star
    font-size 11px

    i
      line-height 12px
      margin-top -1px

.background-form
  textarea
    width 100%
    max-width 100%
    box-sizing border-box
    min-height 280px


