.vendors-wrapper
  .loading-spinner
    text-align center
    margin 0 0 35px
    display none

  .finished-loading-text
    text-align center
    margin 0 0 35px
    display none

  &.loading
    .loading-spinner
      display block

  &.finished-loading
    .finished-loading-text
      display block

#new-vendor-form
  h5
    color #317EAC

#api-key-label
  &.showing
    .key
      display inherit !important

    .stars
      display none

  .key
    display none