#award-modal.modal.hide(tabindex='-1', role='dialog')
  form.form-horizontal
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3
        | Award bid from
        span.company-name

    .modal-body

      p
        strong You've selected a vendor!
        | When you award this contract, we'll send the message below to the vendor
        | that you have accepted their bid and are ready to start working with them.
        | Make sure all your "i"s are dotted and "t"s are crossed before you hit the button below.
        | We will also automatically dismiss all other bids on this project.

      p
        | Awarding contracts is for <strong>registered contracting officers</strong> only.
        | If you're not a CO, turn back now.

      - if ($project->is_open_for_bids()):
        .alert.alert-danger <strong>Careful!</strong> The due date for proposals hasn't passed. Awarding now may yield a protest.
      - endif;

      label.bold-label Message to vendor: (will be sent to <em class="vendor-email"></em>)
      textarea.awarded-message(name='awarded_message') !{View::make('bids.partials.award_message')->with('project', $project)->with('officer', Auth::officer())}

      label.checkbox No thanks, I'd prefer to send an email to the vendor by myself
        input.manual-awarded-message-checkbox(type="checkbox")

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary.award-btn(data-loading-text='Awarding...') Award