#dismiss-modal.modal.hide(tabindex='-1', role='dialog')
  form.form-horizontal
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3
        | Dismiss bid from
        span.company-name

    .modal-body
      .alert.alert-info
        | These fields are <strong>optional</strong>, and will not be shown to the vendor. They may be useful to log,
        | however, in case of a future contest.

      .control-group
        label.control-label Dismissal Reason:
        .controls
          select(name='reason')
            option(value="") -- Select a Reason --
            - foreach (Bid::dismissal_reasons() as $reason):
              option(value="#{$reason}") #{$reason}
            option(value="Other") Other
          input(type="text", name="reason_other")

      .control-group
        .controls
          textarea(name='explanation', placeholder='Dismissal Explanation')

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary.dismiss-btn(data-loading-text='Dismissing...') Dismiss