- Section::inject('page_title', "$contract->title")
- Section::inject('page_action', "Admin")
- Section::inject('active_nav', $contract->is_mine() ? 'account' : 'contracts')
- Section::inject('active_subnav', 'admin')

- if ($contract->is_mine()):
  - Section::inject('subnav', View::make('partials.media.officer_contract_toolbar')->with('contract', $contract))
- endif;

h5 Add Collaborators