- Section::inject('page_title', 'New Contract')
- Section::inject('active_nav', 'account')

form(action="#{route('contracts')}", method="POST", id="new-contract-form")
  label Solicitation # of FBO.gov Posting
  .input-append
    input(type="text", name="solnbr", value="#{Input::old('solnbr')}")
    button.btn.btn-primary(type="submit", data-loading-text="Loading from FedBizOpps...") Find
