- Section::inject('page_title', 'New Contract')
- Section::inject('active_nav', 'account')

.row.fit3wells
  .span4.well
    h5 1: Create A Statement of Work
    div
      p
        | In order to use EasyBid, you'll need to start with
        a(href='http://sowcomposer.presidentialinnovationfellows.org/') SoW Composer
        | - a companion app that helps officers
        | create statements of work faster and with less hassle.

    a(href='http://sowcomposer.presidentialinnovationfellows.org/')
      img(src='http://static.limechile.com.s3.amazonaws.com/sowcomp.png', style='')
    hr
    a.btn.btn-success(href='http://sowcomposer.presidentialinnovationfellows.org/') Get Started

  .span4.well
    h5 2: Post it to FedBizOpps.gov
    p
      | All contracting opportunities need to be posted to FBO, including EasyBid
      | projects.
    p
      a(href='http://www.fbo.gov/')
        img(src='http://static.limechile.com.s3.amazonaws.com/fedbizopps.png', style='')

  .span4.well
    h5 3: Import it to EasyBid
    p
      | Just paste in the solicitation number  that was assigned by FBO and
      | we'll walk you through a quick import process.

    hr
    form(action="#{route('contracts')}", method="POST", id="new-contract-form")
      label Solicitation # of FBO.gov Posting
      .input-append
        input.span2(type="text", name="solnbr", value="#{Input::old('solnbr')}")
        button.btn.btn-primary(type="submit", data-loading-text="Loading from FedBizOpps...") Find
