- Section::inject('page_title', 'RFP-EZ For Government')

hr

p.lead
  | RFP-EZ is a new platform that has been created under the
  | <a href="http://wh.gov/innovationfellows" target="_blank">Presidential Innovation Fellows Program</a>
  | to reduce barriers to entry for small businesses -- especially those who are new entrants -- and
  | improve the overall efficiency of small dollar procurements both for the government and small businesses.

hr

p
  | This site is a pilot, which will initially run from December 28, 2012 through May 1, 2013,
  | where agencies will identify individual procurements valued at or below the simplified acquisition threshold
  | that can be set aside for small businesses to test a suite of functional tools for:

ol.extra-bottom-padding
  li Simplifying the development of statements of work,
  li Improving agency access to information about small businesses,
  li Enabling small businesses to submit proposals electronically,
  li Enhancing efficiencies for evaluating proposals, and
  li Improving how information (including prices paid by federal agencies) is captured and stored.

blockquote
  p OFPP and SBA see multiple benefits to this pilot. First, it gives us an opportunity to think about how we can transform the way we conduct SAT procurements, both for agencies and our trading partners.  Second, it gives us another mechanism to potentially increase opportunities for small businesses.  Third, it can serve as a model for innovative contracting where we encourage measured and constructive risk-taking by the workforce to test new ideas for improving the acquisition process.   For these reasons, our community should be as supportive as we can.

  small Matthew Blum, Associate Administrator, Office of Federal Procurement Policy

p.lead
  | Ready to try RFP-EZ for yourself?&nbsp;
  a.btn.btn-large.btn-warning(href="#{route('new_officers')}") Sign up now