- Section::inject('page_title', 'RFP-EZ For Government')

hr

p.lead
  | Make small dollar procurements better for both government and businesses.

p.lead
  | RFP-EZ was created by the <a href="http://wh.gov/innovationfellows" target="_blank">Presidential Innovation Fellows</a> to:

ol.lead-list.extra-bottom-padding
  li Make it easier for new small businesses to start contracting,
  li Simplify the development of statements of work,
  li Improve agency access to information about small businesses,
  li Enable small businesses to submit proposals electronically,
  li Help officers evaluate proposals more quickly,
  li Improve how information (including prices paid by federal agencies) is captured and stored.

p.lead
  | Ready to try RFP-EZ for yourself?&nbsp;
  a.btn.btn-large.btn-warning(href="#{route('new_officers')}") Sign up now

hr

blockquote.blum
  p OFPP and SBA see multiple benefits to this pilot. First, it gives us an opportunity to think about how we can transform the way we conduct SAT procurements, both for agencies and our trading partners.  Second, it gives us another mechanism to potentially increase opportunities for small businesses.  Third, it can serve as a model for innovative contracting where we encourage measured and constructive risk-taking by the workforce to test new ideas for improving the acquisition process.   For these reasons, our community should be as supportive as we can.

  small Matthew Blum, Associate Administrator, Office of Federal Procurement Policy

hr

p.small
  | This site is a pilot, which will initially run from December 28, 2012 through May 1, 2013,
  | where agencies will identify individual procurements valued at or below the simplified acquisition threshold.