<?php Section::inject('page_title', 'Home'); ?>

#signinModal.modal.hide
  .modal-header
    button.close(type='button', data-dismiss='modal') x
    h3 Login to EasyBid

  !{ View::make('partials.signin_form') }