- Section::inject('page_title', 'A Technology Marketplace That Everybody Loves')
- Section::inject('no_page_header', true)



.hero-unit
  h1 EasyBid
    small A Technology Marketplace That Everybody Loves


.row-fluid
  .span6.well
    h5 For Small Business
    p.main-description Create a simple online profile and begin bidding
      | on <a href="#{ route('projects') }">projects</a>.
      | If you're selected to work on one, we'll walk you through the government registration process.
    a.btn.btn-warning.btn-large(href="#{ route('new_vendors') }", data-pjax) Register as a Business

  .span6.well
    h5 For Government
    p.main-description Make great statements of work.
      | Browse innovative tech businesses and see their online portfolios.
      | Receive and review bids on your projects.
    a.btn.btn-warning.btn-large(href="#{ route('new_officers') }", data-pjax) Register as a Government Officer
