- Section::inject('page_title', __('r.home.index_signed_out.site_tagline'))
- Section::inject('no_page_header', true)

.subheader
  h1.home-tagline We're temporarily closed for maintenance.
  h2.home-subline We apologize for the inconvenience. We'll be right back.

