- Section::inject('page_title', __('r.home.index_signed_out.site_tagline'))
- Section::inject('no_page_header', true)

.subheader
  h1.home-tagline RFP-EZ is currently closed.
  h2.home-subline
  h2.home-subline Thank you for participating in the second RFP-EZ pilot.
  h2.home-subline We're using the valuable feedback you've provided about the RFP-EZ experience to build an evolving line of innovative procurement tools and services.

