- Section::inject('page_title', $sow->title)
- Section::inject('active_nav', 'account')
- Section::inject('active_subnav', 'editdoc')

!{View::make('projects.partials.toolbar')->with('project', $sow->project)}

.step.step-6
  form(method="POST")

    textarea#sow-content-wysiwyg(name="body", style="width: 100%; min-height: 400px")
      - if ($sow->body):
        !{$sow->body}
      - else:
        !{SowVariableParser::parse(View::make('sows.partials.step6_output')->with('sow', $sow), $sow, "read")}
      - endif;

    .bottom-controls.well
      a.btn(href="#{route('sow_fillinblanks', array($sow->project->id))}") &larr; Enter Variables
      button.btn.btn-primary.pull-right Download SOW &rarr;
