- Section::inject('page_title', $sow->title)
- Section::inject('active_nav', 'account')
- Section::inject('active_subnav', 'fillinblanks')

!{View::make('projects.partials.toolbar')->with('project', $sow->project)}

.step.step-5

  form(method="POST")

    .alert.alert-info Fill in the blanks below and we'll assemble your final document, which you can edit in the next step.

    .sow-content
      !{SowVariableParser::parse(View::make('sows.partials.step5_output')->with('sow', $sow), $sow)}

    .bottom-controls.well
      - $last_template_section_type = $sow->last_template_section_type()
      a.btn(href="#{route('sow_section', array($sow->project->id, $last_template_section_type))}")
        | &larr; #{$last_template_section_type}

      button.btn.btn-primary.pull-right Edit Document &rarr;
