- Section::inject('page_title', 'New Statement of Work')
- Section::inject('active_nav', 'contracts')

form(method="POST")
  .control-group
    label.control-label Project Type
    .controls
    select(name="template_id")
      - foreach($templates as $template):
        option(value="#{$template->id}") #{$template->title}

  .form-actions
    button.btn.btn-primary Next &rarr;
