h5 Background
p !{$project->background}

- foreach ($project->sections_by_category() as $category => $sections):
  h5 #{$category}

  - foreach ($sections as $section):
    strong #{$section->title}
    p !{$section->body}
