tr(data-officer-id="#{$officer->id}", class="not-user-#{$officer->user->id}")
  td.email #{$officer->user->email}
  td
    button(class="btn btn-danger remove-collaborator-button", href="#{route('project_collaborators_destroy', array($project->id, $officer->id))}") Remove