#edit-section-modal.modal.hide(tabindex='-1', role='dialog')
  form#edit-section-form(action="#{route('project_sections_edit', array($project->id))}", method="POST")
    input(type="hidden", name="section_id")

    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3 &nbsp;

    .modal-body
      .row-fluid
        .span5
          .control-group
            label.control-label Title
            .controls
              input(type="text", name='project_section[title]')

        .span7
          .control-group
            label.control-label Category
            .controls.category-controls
              select#section-category-select
                - foreach (ProjectSection::$categories as $category):
                  option(value="#{$category}") #{$category}
                option(value="Other") Other

              input#section-category-input(type="text", name='project_section[section_category]')

      .control-group
        .controls
          .wysiwyg-wrapper
            textarea.wysihtml5(name='project_section[body]')

    .modal-footer
      span.will-fork.pull-left &nbsp;
      //- If we want to display a notice that this section will be forked, we could do so above.
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary.save-button(data-loading-text="Saving...") Save