h5 Timeline

table.table.timeline-table
  thead
    tr
      th Deliverable
      th Completion Date
  tbody
    - if ($project->deliverables):
      - foreach ($project->deliverables as $deliverable):
        tr
          td #{$deliverable->name}
          td #{$deliverable->date_or_length()}