.comments-list
  .comment
    margin 10px 0
    .body
      .author
        font-weight bold

  .notification
    padding 10px 0 10px 10px

    .date
      font-size 12px
      color #aaa
      padding-left 17px

#add-comment-form
  textarea
    min-height 100px