footer.footer
  padding 30px 0
  border-top 1px solid #e5e5e5

  ul
    margin 20px 0 0 0

    li
      list-style none
      display inline

      a
        margin 0 5px

      &:first-child
        a
          margin-left 0

      &:after
        content "·"

      &:last-child:after
        content ""