.navbar-static-top
  mb 20px

.notification-nav-item
  position relative

  .unread-notification-badge
    position absolute
    top 7px
    right -10px

.officer-toolbar
  pt 25px

.sow-toolbar
  pt 20px