.vendor-image-preview-frame
  bgc white
  overflow hidden
  text-align center
  width 400px
  height 300px
  line-height 301px
  border 1px solid #EEE
  padding 2px
  margin 5px 0 15px

.vendor.media
  width 400px
  display inline-block
  vertical-align top
  margin 10px 10px 40px
  box-shadow 1px 2px 7px #AAA
  border-radius 9px

  .company-name
    font-size 16px
    font-weight bold
    margin-bottom 10px
    width 250px

  .ballpark-price
    color #888

  .more-info
    line-height 1.5em
    height 4.5em
    overflow hidden

.vendor-detail
  pt 40px

  .company-name
    color #888
    font-size 24px
    font-weight bold

  .ballpark-price
    mb 25px

  .more-info
    fs 1.2em
    line-height 1.4em
    mb 30px

.vendor-data
  margin-bottom 20px

  .datum
    clear both
    padding 10px 0

    label
      font-weight bold
      width 120px
      float left
      text-align right


    div.content
      margin-left 140px

    .dsbs-certifications
      padding-top 20px