/* 
 *
 * restyler.css
 * hackey first-cut at style changes and additions for RFP-EZ v2
 *
 */


/* new button type */
.btn-action-gold{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#FBA71A;background-image:-moz-linear-gradient(top, #FBA71A, #FBA71A);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#FBA71A), to(#FBA71A));background-image:-webkit-linear-gradient(top, #FBA71A, #FBA71A);background-image:-o-linear-gradient(top, #FBA71A, #FBA71A);background-image:linear-gradient(to bottom, #FBA71A, #FBA71A);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBA71A', endColorstr='#FBA71A', GradientType=0);border-color:#FBA71A #FBA71A #913800;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#FBA71A;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#ffffff;background-color:#FBA71A;*background-color:#c44c00;}
.btn-action-gold:active,.btn-action-gold.active{background-color:#aa4200 \9;}

/* systm-wide Bootstrap customizations */
a {
	color:#50A4D8;
}

/* pagewide style changes */

.navbar {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
}
.navbar-inner {
	min-height: 80px;
	background-color: #EE2543;
	background-image: none;
	background-repeat: none;
	filter: none;
}
.navbar .brand {
	padding: 0 20px;
}
.navbar .nav > li> a {
	padding: 31px 10px 29px;
}
.navbar .brand > img {
	margin-top: 15px;
}

.notification-nav-item .unread-notification-badge {
  top: 33px;
}
#unread_notifications_icon {
	margin-top: 4px;
}

.subheader-primary > .alert {
	margin-bottom: 0;
	position: relative;
	top: -30px;
}
body {
	background-image: url(/img/bg_headfoot.png);
	background-repeat: repeat;
	background-position: 0 0;
}
#outer-container {
	background-color: initial; /* transparent */
	background-image: url(/img/bg_content.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 2;
	padding-bottom: 0;
}
.inner-container, #outer-container > .container {
	background-color: #fff;
	box-shadow: 1px 1px whitesmoke;
	z-index: 2;
}
.inner-container {
	padding: 40px 20px;
	top: -20px;
	width: 940px;
	min-height: 300px;
	margin: 0 auto;
	position: relative;
	border-top: 1px solid #FBA71A;

}

.inner-container h5,
.content-table-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #EE2543;
}

/* heading styles */

.subheader { /* [new div class="subheader"] */
	background-image: url(/img/bg_headfoot.png);
	padding: 0 20px 60px 20px;
}
.subheader-primary {
	padding: 50px 20px 0 20px; /* top was last 20px */
}
.subheader > h4 {
	width: 940px;
	margin: 0 auto;
	font-size: 30px;
	line-height: 42px;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}

footer.footer {
	padding: 30px 0;
	border: 0 none;
	/*border-top: 1px solid #e5e5e5;*/
	position: relative;
	top: -40px;
	background-image: url(/img/bg_headfoot.png);
	background-repeat: repeat;
	background-position: 0 0;
	z-index: 1;
}
footer.footer > .container {
	margin-top: 20px;
}


.navbar-static-top {
	margin-bottom: 0;
}

.control-group input[type="radio"] {
	vertical-align: baseline;
}


/* new standard section headers for SOWComposer and BidMaker */

h3.sow-section-header, h5.red-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #EE2543;
	margin-top: 30px;
	line-height: 20px;
}
h3.sow-section-header.sow-section-header-first
, h5.red-header {
	margin-top: 10px;
}
/* more muted on new-bid page */
.new-bid-page h5.sow-section-header {
	font-size: 20px;
	color: #000;
}


/* project display/entry changes */

.inner-container-show-project {
	border-top: 1px solid #FBA71A;
}
.well-plain {
	min-height: 20px;
	padding: 10px 20px;
	margin-bottom: 20px;
	background-color: #f8f8f8;
}
.bids-due-timeago {
	font-size: 16px;
	font-weight: bold;
}
.bids-due-date {
	font-weight: normal;
}
.subheader-secondline {
	font-size: 16px;
	font-weight: normal;
	color: gray;
	width: 940px;
	margin: 0 auto;
}
.project-status {
	font-size: 14px;
	color: gray;
	text-align: right;
}
form input.full-width {
	width: 310px;
}
.nav-tabs.project-subnav {
	width: 940px;
	position: relative;
	bottom: -40px;
	margin: 0 auto;
}
.btn-extra-large {
	font-size: 150%;
}
#sync-with-fbo-form label, 
#sync-with-fbo-form input,
#sync-with-fbo-form textarea,
#sync-with-fbo-form div.well  {
	display: none;
}


/* new homepage */

.home-story-graphic {
	text-align: center;
	margin: 0 auto;
}
.home-tagline, .home-subline {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	line-height: 1.2;
	margin: 0 auto;
}
.home-tagline {
	font-size: 36px;
	font-weight: bold;
	color: black;
}
.home-subline {
	font-size: 20px;
	font-weight: normal;
	color: gray;
	margin-bottom: 20px;
}


/* bid display/entry changes */

#column-my-bid { /* grab extra 10px from offset */
	margin-left: 40px;
	padding: 5px 0 10px 10px;
	box-shadow: 1px 1px 6px 1px lightgray;
	width: 420px;
}
.bid-prices-table {
	width: 400px;
}
.details-inner-my-bid {
	padding-right: 10px;
}
.details-inner-my-bid h5 {
	color: #666;
	font-size: 18px;
}
.vendor-image-preview-frame {
	border: 0 none;
}


/* nav tab display changes */

.nav-tabs > li > a {
	border-bottom: none;
	padding-top: 6px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 1px solid #FBA71A;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-color: #FBA71A;
	color: white;
	font-weight: normal;
	/*font-weight: bold;*/
	margin: 2px 2px 0 2px;
}
.nav-tabs > li {
	margin-bottom: -4px;
}
.nav-tabs > li > a:hover {
	color: black;
	border: 1px solid #FBA71A;
	border-bottom: none;
	font-weight: bold;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:active {
	background-color: white;
	color: black;
	padding-top: 9px;
	position: relative;
	top: -3px;
	margin: 2px 3px 0 3px;
	font-weight: bold;
	/*line-height: 22px;*/
	/*margin-top: 0;*/
}


/* Q&A, FAQ */

.well .answer blockquote {
	font-family: "Courier New", Courier, monospace;
}
.question-wrapper .question {
	font-weight: bold;
}
