.dsbs-certifications.loading(data-dsbs-user-id="#{$user_id}")
  table.table.table-bordered
    tbody
      tr.loading-text
        td(colspan="2") Certifications loading...
      tr
        th vietnam
        td(data-key="vietnam")
      tr
        th dav
        td(data-key="dav")
      tr
        th veteran
        td(data-key="veteran")
      tr
        th women
        td(data-key="women")
