//shouldn't need this ifelse, other than to account for legacy data
- if ($bid->epls_names):
  table.table.epls-lookups
    thead
      tr
        th Name
        th EPLS
    tbody
      - foreach ($bid->epls_names as $name => $epls_match)
        tr
          td #{$name}
          - if ($epls_match):
            td.red
              a(href="http://rfpez-apis.presidentialinnovationfellows.org/exclusions?name=#{rawurlencode($name)}") yes
          - else:
            td.green
              a(href="http://rfpez-apis.presidentialinnovationfellows.org/exclusions?name=#{rawurlencode($name)}") no
          - endif;
- elseif ($bid->employee_details):
  p !{$bid->employee_details}