tr(data-officer-id="#{$officer->id}", class="not-user-#{$officer->user->id}")
  td.email #{$officer->user->email}
  td
    button(class="btn btn-danger remove-collaborator-button only-user only-user-#{$contract->officer->user->id}") Remove