.question-wrapper.well(data-id="#{$question->id}")
  .question Q: #{$question->question}

  .answer
    - if ($question->answer):
      | A: #{$question->answer}
    - else:
      em This question has not been answered.
      - if (Auth::user() && Auth::user()->officer && Auth::user()->officer->collaborates_on($question->contract->id)):
        div(class="answer-question")
          a.answer-question-toggle Answer Question
    - endif;