- Section::inject('page_title', 'New Project')

form(action="#{route('projects')}", method="POST", id="new-project-form")
  .control-group
    label Project Title
    input(type="text", name="project[title]")

  .control-group
    label Project Type
    select(name="project[project_type_id]")
      - foreach (ProjectType::all() as $project_type):
        option(value="#{$project_type->id}") #{$project_type->name}



  button.btn.btn-primary(type="submit") Create
