- Section::inject('page_title', 'New Project')
- Section::inject('no_page_header', true)


.new-project-page

  h4 New Project

  .well
    p
      strong Congrats on using EasyBid for your procurement!

    p
      | First, we just need some basic information about the project you're doing.
      | If you can't find the correct project type in the list, <a href="#">contact us</a>
      | and let us know.

  form(action="#{route('projects')}", method="POST", id="new-project-form")
    .control-group
      label Project Title
      input(type="text", name="project[title]")

    .control-group
      label Agency
      input(type="text", name="project[agency]")

    .control-group
      label Office
      input(type="text", name="project[office]")

    .control-group
      label Bids Due
      span.input-append.date.datepicker-wrapper
        input.span3(type="text", name="proposals_due_at")
        span.add-on
          i.icon-calendar
      | &nbsp; at 11:59pm EST

    .control-group
      label Project Type
      select(name="project[project_type_id]")
        - foreach (ProjectType::all() as $project_type):
          option(value="#{$project_type->id}") #{$project_type->name}

    .form-actions
      button.btn.btn-primary(type="submit") Create Project

