- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Review")
- Section::inject('active_subnav', 'review')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

.row-fluid
  .span8
    !{View::make('projects.partials.full_sow')->with('project', $project)}

  .span4
    h4 Sharing

    h4 Download

    h4 Next Steps