- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Select a Template")
- Section::inject('active_subnav', 'view')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

h4 Select a Template

.alert.alert-info
  | Here are some statements of work from real, successful procurements for the same type of project you're doing.
  | When you "fork" one of these templates, we'll grab all the good bits and then let you customize it to suit the
  | details of your specific project.

ul.templates-list
  - foreach($templates as $template):
    li.template
      | template

  - if ($more_templates_count):
    li.show-more
      a(href="#") See #{$more_templates_count} more #{Str::plural('template', $more_templates_count)}


h4 ...Or Start From Scratch