//- Section::inject('page_title', 'My Account')

form(action="#{route('account')}", method="POST")

  - if (Auth::user()->vendor):
    !{View::make('users.account_vendor_fields')}
  - else:
    !{View::make('users.account_officer_fields')}
  - endif;

  br
  input.btn.btn-primary(type="submit", value="Save Changes")