- Section::inject('page_title', 'Change Password')

form.form-horizontal#change-password-form(action="#{route('change_password')}", method="post")

  .control-group
    label.control-label Old Password
    .controls
      input(type="password", name="old_password")

  .control-group
    label.control-label New Password
    .controls
      input#new-password-input(type="password", name="new_password")

  .control-group
    label.control-label Confirm New Password
    .controls
      input(type="password", name="confirm_new_password")

  .form-actions
    button.btn.btn-primary(type="submit") Submit
