- Section::inject('page_title', 'Forgot Password')

form.form-horizontal(action="#{route('forgot_password')}", method="POST")

  .control-group
    label.control-label Email address
    .controls
      input(type="text", name="email", value="#{Input::old('email')}")

  .form-actions
    button.btn.btn-primary(type="submit") Submit
