- if ($finish_signup):
  - Section::inject('page_title', "Create password for $user->email")
- else:
  - Section::inject('page_title', "Reset password for $user->email")
- endif;

form.form-horizontal#reset-password-form(action="#{route('reset_password', array($user->reset_password_token))}", method="POST")

  .control-group
    label.control-label New Password
    .controls
      input(type="password", name="password")

  .form-actions
    button.btn.btn-primary(type="submit") Submit
