- Section::inject('page_title', 'Sign In')


form.form-horizontal(action="#{ route('signin') }", method="POST")
  .control-group
    label.control-label Email
    .controls
      input(type='text', name='email')

  .control-group
    label.control-label Password
    .controls
      input(type='password', name='password')

  .control-group
    label.control-label &nbsp;
    .controls
      a(href="#{route('forgot_password')}") Forgot Password?

  .form-actions
    button.btn.btn-primary(type='submit') Sign In
