- Section::inject('page_title', 'Sign In')


form.form-horizontal(action="#{ route('signin') }", method="POST")
  input(type="hidden", name="redirect_to", value="#{Input::old('redirect_to') ?: Session::get('redirect_to')}")
  .control-group
    label.control-label Email
    .controls
      input(type='text', name='email', value="#{Input::old('email')}", data-onload-focus)

  .control-group
    label.control-label Password
    .controls
      input(type='password', name='password')

  .control-group
    .controls
      label.checkbox
        input(type='checkbox', checked, name='remember')
        | Remember Me?

  .control-group
    label.control-label &nbsp;
    .controls
      a(href="#{route('forgot_password')}", data-pjax) Forgot Password?

  .form-actions
    button.btn.btn-primary(type='submit') Sign In
